<% provide(:title, "top") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | My Portfolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>
  <body>
    <p>トップベージ</p>
  </body>
</html>