@import  "bootstrap-sprockets";
@import  "bootstrap";

body {
  padding-top: 150px;
  padding-left: 450px;
}

.h1 {
  padding-top: 100px;
}

.con {
  padding-top: 20px;
  font-size: large;
}

// <header>
#title {
  margin-left: 20px;             
  font-size: 2.5em;              
  color: #fff;                 
  height: auto;
  }

#title:hover {
  color: #fff;              
  text-decoration: none;     
}

.navbar {
  height: 120px;
  background-color: #1b5678;  
}

.navbar-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}

.btn {
  /* button_white */
/* オートレイアウト */

flex-direction: row;
justify-content: center;
align-items: center;
margin-top: -48px;
margin-right: 40px;
width: 152px;
height: 53px;

/* white */

background: #FFFFFF;
border-radius: 4px;

/* オートレイアウト内部 */

flex: none;
order: 1;
flex-grow: 0;
}

/*ログイン画面*/
.login_title {
  padding: 10px 0px 150px 0px;
  font-size: 50px;
}

.centered-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.form-control{
  color: #000000 !important;
  font-size: 30px;
  border: none;
  padding: 25px;
  padding-left: 10px;
  border-bottom: 1px solid #CCC;
  margin-bottom: 10px;
  outline: none;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.form-group {
  margin: 10px 0px 60px 0px;
}

.btn-primary{
  background-color: #1b5678;
  border-radius: 4px;
  margin: 5px;
  padding: 5px;
  width: 268px;
  height: 53px;
  font-size: 20px;
  font-weight: inherit;
  flex: none;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/*footer*/
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #1b5678;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

.wapper {
  height: 20px;
  position: relative;
}

/*トップ画面*/
/*自己紹介*/
.self-introduction {
  padding-bottom: 50px;
  padding-left: 500px;
}

.self {
  width: 240px;
  height: 40px;
  border-bottom:2px solid #333
}

/*スキルチャート*/
.chart {
  padding-top: 140px;
  padding-left: 400px;
  width: 200px;
}

.skill {
  padding: 0px 0px 0px 70px;
  width: 340px;
  height: 40px;
  border-bottom:2px solid #333
}

.px-1 {
  padding-right: 50px;
}

/*アバター画像*/
.avatar {
  position: absolute;
  top: 170px;
  left: 550px;
}

