<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="con">
        <%= link_to "My Portfolio", root_path, id: "title" %>
    </div>
    <nav>
      <div class="nav navbar-nav navbar-right">
        <button type="button" class="btn btn-white btn-lg"><%= link_to "ログイン", login_path %></button>
      </div>
    </nav>
</header>